.form-task {
  display: grid;
  row-gap: toRem(24);
  /* .form-task__label */
  &__label {
    display: grid;
    row-gap: toRem(10);
    font-size: toRem(18);
  }
  &__textarea,
  &__input {
    padding-block: toRem(12);
    padding-inline: toRem(18);
    border: var(--border);
    border-color: var(--dark);
    border-radius: var(--border-radius);
  }
  /* .form-task__input */
  &__input {
  }

  /* .form-task__textarea */
  &__textarea {
    height: 3lh;
    resize: none;
    box-sizing: content-box;
  }

  /* .form-task__actions */
  &__actions {
    display: flex;
    column-gap: toRem(12);
  }
}
